Assets/AutoSave/**
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

.vs/**
/Library/**
Logs/**
Library/StateCache/**
Library/Artifacts/**
Library/Artifacts/*
Assembly-CSharp.csproj
Assembly-CSharp.csproj
Assembly-CSharp.Player.csproj
PsdPlugin.csproj
Unity.2D.Animation.Editor.csproj
Unity.2D.Animation.Runtime.csproj
Unity.2D.Animation.Runtime.Player.csproj
Unity.2D.Common.Editor.csproj
Unity.2D.Common.Runtime.csproj
Unity.2D.Common.Runtime.Player.csproj
Unity.2D.IK.Editor.csproj
Unity.2D.IK.Runtime.csproj
Unity.2D.IK.Runtime.Player.csproj
Unity.2D.Path.Editor.csproj
Unity.2D.PixelPerfect.csproj
Unity.2D.PixelPerfect.Editor.csproj
Unity.2D.PixelPerfect.Player.csproj
Unity.2D.Psdimporter.Editor.csproj
Unity.2D.Sprite.Editor.csproj
Unity.2D.SpriteShape.Editor.csproj
Unity.2D.SpriteShape.Runtime.csproj
Unity.2D.SpriteShape.Runtime.Player.csproj
Unity.2D.Tilemap.Editor.csproj
Unity.Burst.CodeGen.csproj
Unity.Burst.csproj
Unity.Burst.Editor.csproj
Unity.Burst.Player.csproj
Unity.CollabProxy.Editor.csproj
Unity.InternalAPIEditorBridge.001.csproj
Unity.InternalAPIEngineBridge.001.csproj
Unity.InternalAPIEngineBridge.001.Player.csproj
Unity.Mathematics.csproj
Unity.Mathematics.Editor.csproj
Unity.Mathematics.Player.csproj
Unity.PlasticSCM.Editor.csproj
Unity.Rider.Editor.csproj
Unity.Services.Core.Analytics.csproj
Unity.Services.Core.Analytics.Player.csproj
Unity.Services.Core.Configuration.csproj
Unity.Services.Core.Configuration.Editor.csproj
Unity.Services.Core.Configuration.Player.csproj
Unity.Services.Core.csproj
Unity.Services.Core.Device.csproj
Unity.Services.Core.Device.Player.csproj
Unity.Services.Core.Editor.csproj
Unity.Services.Core.Environments.csproj
Unity.Services.Core.Environments.Internal.csproj
Unity.Services.Core.Environments.Internal.Player.csproj
Unity.Services.Core.Environments.Player.csproj
Unity.Services.Core.Internal.csproj
Unity.Services.Core.Internal.Player.csproj
Unity.Services.Core.Networking.csproj
Unity.Services.Core.Networking.Player.csproj
Unity.Services.Core.Player.csproj
Unity.Services.Core.Registration.csproj
Unity.Services.Core.Registration.Player.csproj
Unity.Services.Core.Scheduler.csproj
Unity.Services.Core.Scheduler.Player.csproj
Unity.Services.Core.Telemetry.csproj
Unity.Services.Core.Telemetry.Player.csproj
Unity.Services.Core.Threading.csproj
Unity.Services.Core.Threading.Player.csproj
Unity.TextMeshPro.csproj
Unity.TextMeshPro.Editor.csproj
Unity.TextMeshPro.Player.csproj
Unity.Timeline.csproj
Unity.Timeline.Editor.csproj
Unity.Timeline.Player.csproj
Unity.VisualStudio.Editor.csproj
Unity.VSCode.Editor.csproj
UnityEditor.TestRunner.csproj
UnityEditor.UI.csproj
UnityEngine.TestRunner.csproj
UnityEngine.TestRunner.Player.csproj
UnityEngine.UI.csproj
UnityEngine.UI.Player.csproj
Void-Escape.sln
*.csproj
